:root {
    --grid-columns: 50px repeat(auto-fit, minmax(100px, 1fr));
    --grid-rows: auto;
    --height: 30px
}

.table-wrapper {
    display: block;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: gray;
    margin: 0 auto;
}
.table_columns, .table_rows {
    display: grid;
    grid-template-rows: var(--grid-rows);
    min-width: 3000px;
}
.table_columns {
    grid-template-columns: var(--grid-columns);
}
.row-cell {
    display: grid;
    grid-template-columns: var(--grid-columns);
    text-align: center;
    height: var(--height);
}
.row-cell_selected:first-child {
    background-color: rgba(0, 0, 255, 0.542);
}
.column-cell {
    text-align: center;
    background-color: rgba(127, 208, 255, 0.101);
    border-left: 1px solid rgb(165, 164, 164);
    border-top: 1px solid rgb(177, 173, 173);
    height: var(--height)
}
.column-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell {
    border-top: 1px solid rgb(195, 195, 195);
    border-left: 1px solid rgb(195, 195, 195);
    padding: 2px;
    border-radius: 0px;
    background-color: transparent;
}
.cell_selected {
    border: 1px solid blue;
}
.cell_input {
    width: 100%;
    height: 100%;
    border-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: transparent;
}
.cell_input:disabled {
    color: black
}
.cell_input:focus {
    border-color: transparent;
    outline: none
}